*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "DM Sans", sans-serif;
  background-color: #191a2e;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 20px;
}
.button-effect {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 8px;
  color: white;
  background-color: #6a5af9;
  position: relative;
  overflow: hidden;
}
.effect-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 100rem;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%) scale(0);
  animation: fade 1s linear 1;
  pointer-events: none;
}
@keyframes fade {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
/* modal */
.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
}
.modal-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-main {
  background-color: white;
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  padding: 20px;
}
.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}
.button-modal {
  display: inline-block;
  padding: 20px;
  color: white;
  background-color: #f62682;
}
.scroll-progress {
  height: 5px;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #ffb86c, #ff6bcb);
  transition: width 0.25s linear;
  z-index: 9999;
}
/* tabs */
.tab-list {
  display: flex;
  align-items: center;
  gap: 20px;
  overflow-x: auto;
  justify-content: flex-start;
}
.tab-item {
  display: block;
  padding: 15px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  white-space: nowrap;
}
.tab-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.tab-list::-webkit-scrollbar {
  display: none;
}
.loading {
  position: fixed;
  inset: 0;
  background-color: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.2s ease;
}
.loading--hidden {
  opacity: 0;
  visibility: hidden;
}
.loader-spinner {
  width: 50px;
  height: 50px;
  border-radius: 100rem;
  border: 5px solid #6a5af9;
  border-top: 5px solid transparent;
  animation: spinner 1s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.menu-item {
  display: block;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 100rem;
}
.menu-effect {
  position: absolute;
  background-color: #6a5af9;
  top: 0;
  left: 0;
  transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 100rem;
  z-index: -1;
}
.input {
  width: 300px;
  padding: 15px;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  border-radius: 8px;
  font-family: "DM Sans", sans-serif;
  color: white;
  border: 1px solid #6a5af9;
}
.otp {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 60px;
  margin: 50px auto;
  gap: 20px;
}
.otp-input {
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  transition: all 0.2s linear;
  padding: 0 10px;
}
.otp-input:focus {
  border-color: #6a5af9;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-input {
  padding: 15px;
  border: 1px solid white;
  color: white;
  border-radius: 12px;
}
.login-button {
  color: white;
  background-color: #6a5af9;
  border-radius: 12px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  color: white;
  font-size: 30px;
}
.content {
  max-width: 50em;
  margin: 0 auto;
  color: white;
  line-height: 2;
}
.content p {
  margin: 25px 0;
}
.content img {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}
.content img.show {
  opacity: 1;
  visibility: visible;
}
