*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  font-family: "DM Sans", sans-serif;
}
.todo-wrapper {
  max-width: 500px;
  margin: 50px auto;
}
.todo-form {
  display: flex;
  gap: 20px;
}
.todo-input {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  color: #333;
  width: 100%;
}
.todo-button {
  padding: 15px;
  background-color: #6a5af9;
  color: white;
  flex-shrink: 0;
  border-radius: 8px;
}
.todo-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;

  gap: 12px;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-remove {
  background-color: #f62682;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
  border-radius: 4px;
}
